---
# Source: heat/templates/job-trusts.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: heat-trusts
  namespace: openstack
---
# Source: heat/templates/job-trusts.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: heat-openstack-heat-trusts
  namespace: openstack
rules:
  - apiGroups:
      - ""
      - extensions
      - batch
      - apps
    verbs:
      - get
      - list
    resources:
      - services
      - endpoints
      - jobs
      - pods
---
# Source: heat/templates/job-trusts.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: heat-heat-trusts
  namespace: openstack
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: heat-openstack-heat-trusts
subjects:
  - kind: ServiceAccount
    name: heat-trusts
    namespace: openstack
---
# Source: heat/templates/job-trusts.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: heat-trusts
  labels:
    release_group: heat
    application: heat
    component: trusts
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
    "openstackhelm.openstack.org/release_uuid": ""
spec:
  template:
    metadata:
      labels:
        release_group: heat
        application: heat
        component: trusts
      annotations:
        "openstackhelm.openstack.org/release_uuid": ""
        configmap-bin-hash: "7901e74f0dc72b2f783cd1006eb04dc16ac091fe6f3485ce86361e5015cdfab7"
        configmap-etc-hash: "049dfbdb84dbc324f08bc6393ceca4f17087649bbbffaa5721ca617475fc8df6"
        
    spec:
      serviceAccountName: heat-trusts
      securityContext:
        runAsUser: 42424
      restartPolicy: OnFailure
      nodeSelector:
        openstack-control-plane: enabled

      initContainers:
        
        - name: init
          image: "quay.io/airshipit/kubernetes-entrypoint:v1.0.0"
          imagePullPolicy: IfNotPresent  
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 65534
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: INTERFACE_NAME
              value: eth0
            - name: PATH
              value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/
            - name: DEPENDENCY_SERVICE
              value: "openstack:keystone-api"
            - name: DEPENDENCY_JOBS
              value: "heat-ks-user,heat-trustee-ks-user,heat-domain-ks-user"
            - name: DEPENDENCY_DAEMONSET
              value: ""
            - name: DEPENDENCY_CONTAINER
              value: ""
            - name: DEPENDENCY_POD_JSON
              value: ""
            - name: DEPENDENCY_CUSTOM_RESOURCE
              value: ""
          command:
            - kubernetes-entrypoint
          volumeMounts:
            null
      containers:
        - name: heat-trusts
          image: "docker.io/openstackhelm/heat:2023.1-ubuntu_jammy"
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: 2000m
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 128Mi
          
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
          command:
            - bash
            - /tmp/trusts.sh
          volumeMounts:
            - name: pod-tmp
              mountPath: /tmp
            - name: heat-bin
              mountPath: /tmp/trusts.sh
              subPath: trusts.sh
              readOnly: true
            

          env:            
            - name: OS_IDENTITY_API_VERSION
              value: "3"
            - name: OS_AUTH_URL
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_AUTH_URL
            - name: OS_REGION_NAME
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_REGION_NAME
            - name: OS_INTERFACE
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_INTERFACE
            - name: OS_ENDPOINT_TYPE
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_INTERFACE
            - name: OS_PROJECT_DOMAIN_NAME
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_PROJECT_DOMAIN_NAME
            - name: OS_PROJECT_NAME
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_PROJECT_NAME
            - name: OS_USER_DOMAIN_NAME
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_USER_DOMAIN_NAME
            - name: OS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_USERNAME
            - name: OS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_PASSWORD
            - name: OS_DEFAULT_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: heat-keystone-admin
                  key: OS_DEFAULT_DOMAIN
            - name: SERVICE_OS_ROLES
              value: 
            - name: SERVICE_OS_TRUSTEE
              value: heat-trust
            - name: SERVICE_OS_TRUSTEE_DOMAIN
              value: service
      volumes:
        - name: pod-tmp
          emptyDir: {}
        - name: heat-bin
          configMap:
            name: heat-bin
            defaultMode: 0555
