nova-db-password-secret.yaml
nova-admin-secret.yaml
nova-rabbitmq-secret.yaml
placement-admin-secret.yaml
placement-db-password-secret.yaml
neutron-db-password-secret.yaml
neutron-admin-secret.yaml
neutron-rabbitmq-password-secret.yaml
ironic-admin-secret.yaml
designate-admin-secret.yaml
